{% extends 'base.html.twig' %}

{% block title %}
	Category List
{% endblock %}

{% block body %}
	<div class="container">
		<h4 class="text-primary text-center">Category List</h4>
		
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					{% if is_granted('ROLE_ADMIN') %}
					<th>Actions</th>
					{% endif %}	
				</tr>
			</thead>
			<tbody>
				{% for cat in cats %}
					<tr>
						<td>{{ cat.id }}</td>
						<td>{{ cat.name }}</td>
						<td>{{ cat.description }}</td>
						<td>
							{% if is_granted('ROLE_ADMIN') %}
							<a class="btn btn-primary" href="{{ path('category_edit', {'id': cat.id }) }}">EDIT</a>
							<a class="btn btn-warning" href="{{ path('category_delete', {'id': cat.id }) }}" onclick="return confirm('Are you sure to delete this category ?')">
								DELETE</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
