{% extends 'base.html.twig' %}
 
{% block title %}Customer Profile{% endblock %}

{% block body %}
    <h4 class="display-4 py-3 text-center">Customer Profie</h4>
<div align="center">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top p-3" src="{{ asset ('image/customer/'~cus.avatar)}}" alt="Card image cap" width="50" height="200">
        <div class="card-body">
            <h5 class="card-title">{{cus.name}}</h5>
        </div>
        <ul class="list-group list-group-flush text-left">
            <li class="list-group-item">Name: {{cus.age}}</li>
            <li class="list-group-item"> Phone: {{cus.phoneNumber}}</li>
            <li class="list-group-item">Address: {{cus.address}}</li>
        </ul>
        <div class="card-body text-right">
            <a type="button" class="btn btn-success btn-sm" href="{{path ('customer_edit', {'id': cus.id})}}">Edit</a>
            <a href="{{path ('customer_delete', {'id': cus.id})}}" class="btn btn-sm btn-danger"
            onclick = "return confirm('Are you really want to delete this Customer?')">Delete</a>        
        </div>
    </div>
</div>
{% endblock %}