{% extends "base.html.twig" %}
{% block body %}
<table class="table table-striped text-center">
<thead>
        <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Manufacture</th>
        </tr>
</thead>

<tbody>

    <tr>
        <td>{{product.name}}</td>
        <td><img src="{{asset('image/'~product.img)}}" alt="" width="120" height="100"></td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category}}</td>
        <td>{{product.manufacture}}</td>
        <td>
        <a href="{{path('edit',{'id':product.id})}}" class="btn btn-primary">Edit</a>
        <a href="{{path('delete',{'id':product.id})}}" class="btn btn-warning"
        onclick="return confirm('Are you sure to delete!')">Delete</a>
        </td>
    </tr>

</tbody>

</table>
{% endblock %}