{% extends "base.html.twig" %}
{% block body %}
<h2 class="display-4 text-center mb-3">Products Detail</h2>
<table class="table table-striped text-center">
<thead>
        <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Manufacture</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                {% endif %}
        </tr>
</thead>

<tbody>

    <tr>
        <td>{{product.name}}</td>
        <td><img src="{{asset('image/'~product.img)}}" alt="" width="120" height="100"></td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.description}}</td>
        <td><a href="{{path('category_detail', {'id': product.category.id})}}">{{product.category.name}}</a></td>
        <td><a href="{{path('manufacture_detail', {'id': product.manufacture.id})}}">{{product.manufacture.name}}</a></td>
        <td>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('edit',{'id':product.id})}}" class="btn btn-primary">Edit</a>
        <a href="{{path('delete',{'id':product.id})}}" class="btn btn-warning"
        onclick="return confirm('Are you sure to delete!')">Delete</a>
        {% endif %}
        </td>
    </tr>

</tbody>

</table>
{% endblock %}