{% extends "base.html.twig" %}
{% block body %}
<table class="table table-striped text-center">
<thead>
        <tr>

                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                
        </tr>
</thead>

<tbody>
{% for  product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td><img src="{{asset('image/'~product.img)}}" alt="" width="120" height="100"></td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>
         <a href="{{path('detail',{'id':product.id})}}" class="btn btn-primary">Details</a>
        </td>
    </tr>
{% endfor %}
</tbody>

</table>
{% endblock %}